@model portfio.Models.Photos
<div class="modal-header">
	<button type="button" class="btn btn-default close" data-dismiss="modal">X</button>
	<h4>Изображение № @Model.Id</h4>
</div>
<div class="modal-body">
	<img src="@Model.Link" alt="no" width="500px" />
</div>



