body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Mytopmenu-nav, #AdminMenu, .dropdown-menu li, .dropdown-menu a {
    background-color: green;
}
    #Mytopmenu-nav a {
        color: white;
    }
        #Mytopmenu-nav a:hover {
            background-color: white;
            color: black;
            
        }

    .dropdown-menu a:hover {
        background-color: green;
        color: black;
    }
.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
}

#MainPhotoView {
    width: 800px;
    
    
}
.image_home {
    height: 150px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    max-width: 100%;
    height: 150px;
}